*.pyc

__pycache__/

__pycache__

db_data/

media/

staticfiles/

.env.local

.env.*.local

reports/

data/bdu.db

data/

.venv
*venv

.__idea__

*.sqlite3

.idea

.env

.gitignore

DZ.md
*.bi
*.b64%                                                                                                                                                            (.venv) evgenijasakov@MacBook-Air-Evgenij Li_Shifr %

